
<h1>Ray Tracing in C#</h1>
<p>(ASP.NET Core, Angular)</p>
<br/>
<p>Based on <a href='https://research.nvidia.com/person/peter-shirley'>Peter Shirley's</a> books:</p>
<ul>
  <li><a href='https://www.goodreads.com/book/show/28794030-ray-tracing-in-one-weekend'>Ray Tracing in One Weekend (Ray Tracing Minibooks Book 1)</a></li>
  <li><a href='https://www.amazon.com/Ray-Tracing-Weekend-Minibooks-Book-ebook/dp/B01B5AODD8'>Ray Tracing: the Next Week (Ray Tracing Minibooks Book 2)</a></li>
</ul>
<br/>
<hr/>
<a href="https://stackexchange.com/users/7322082/rabbid76"><img src="https://stackexchange.com/users/flair/7322082.png" width="208" height="58" alt="profile for Rabbid76 on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Rabbid76 on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a>
